{% macro displaynewslist(news_list) %}

  {% for news in news_list %}
  <div class="row">
    <div class="col-md-12">
      <!-- Card -->
      <div class="card">
      
        <!-- Card content -->
        <div class="card-body">
        
          <!-- Title -->
          <h4 class="card-title">{{news.name}}</h4>
          <!-- Text -->
          <p class="card-text">{{news.description}}</p>
          <!-- Button -->
          <a href="{{news.url}}" class="btn btn-primary">Read more</a>
        
        </div>
      
      </div>
<!-- Card -->
    </div>
  </div>
  {% endfor %}
{% endmacro %}


